<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python 1</title>
    <script src="https://cdn.jsdelivr.net/pyodide/v0.27.2/full/pyodide.js"></script>
</head>
<body>
    {% include 'topbar.html' %}
    <h1>ตัวแปรและชนิดของข้อมูล</h1>
    <p>ก่อนเริ่มเรียนเรามารู้จักฟังก์ชัน print() กันก่อน ฟังก์ชันที่ใช้ในการแสดงค่าตัวอย่างเช่น เมื่อใช้ print("Hello World") จะแสดงผลลัพธ์
       เป็น Hello World ออกมา </p>
    <p>ทดลองเขียนดูแล้วกด run ผลลัพท์ที่ต้องการคือ Hello World!</p>
    {% include 'editor.html' %}
    <h2>ตัวแปร</h2>
    <p>"ตัวแปร" คือสิ่งที่ใช้เก็บค่าของข้อมูลชนิดต่างๆ นั่นเพราะเวลาที่เรามีข้อมูลก็จำเป็นต้องมีที่จัดเก็บข้อมูล ซึ่งที่จัดเก็บข้อมูลนั้นก็คือตัวแปรนั่นเอง
        ถ้าให้เปรียบเทียบก็อาจเทียบว่าตัวแปรหนึ่งตัวคือกล่องที่เก็บข้อมูลไว้</p>
    <h2>ชนิดของข้อมูล</h2>
    
</body>
</html>