<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% include 'topbar.html' %}
    <h1>ยินดีต้อนรับสู่โลกของ Python</h1>
    <h2>Python คืออะไร?</h2>
    <p>Python เป็นภาษาโปรแกรมมิงที่ได้รับความนิยมอย่างมาก มีรูปแบบโค้ดที่อ่านง่าย เรียนรู้ได้ไม่ยาก 
        และมีความสามารถหลากหลาย ไม่ว่าจะเป็นงานเว็บ, การวิเคราะห์ข้อมูล, AI, หรือแม้แต่การเขียนโปรแกรมทั่วไป
    </p>
     <h2> ทำไมควรเรียน Python?</h2>
     <ul>
        <li>ง่ายต่อการเรียนรู้และเข้าใจ</li>
        <li>มีชุมชนผู้ใช้และผู้พัฒนาขนาดใหญ่</li>
        <li>มีไลบรารีและเครื่องมือมากมาย</li>
        <li>ใช้ได้กับหลากหลายแพลตฟอร์ม (Windows, macOS, Linux)</li>
        <li>เป็นที่ต้องการในตลาดแรงงาน</li>
    </ul>

    <h2>การติดตั้ง Python</h2>
    <h3>สำหรับ Windows</h3>
    <ol>
        <li>ไปที่เว็บไซต์ [python.org](<a href="https://www.python.org/downloads/"></a>)</li>
    </ol>
    <p>
        อย่าปล่อยให้ Python เป็นเพียงแค่ชื่อที่คุณเคยได้ยิน! 
        มาร่วมเรียนรู้กับเราวันนี้ แล้วค้นพบว่าการเขียนโปรแกรมสามารถเปลี่ยนอนาคตของคุณได้ 
        เริ่มต้นเส้นทางการเขียนโค้ดของคุณเลยตอนนี้!
    </p>
    <a href="/dashboard">start learning</a>
</body>
</html>