<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div id="topbar_home"></div>
    <script>
        fetch("top_bar.html")
            .then(response => response.text())
            .then(data => {document.getElementById("topbar_home").innerHTML = data})
    </script>
    <h1>ยินดีต้อนรับสู่โลกของ Python</h1>
    <p>ภาษาที่นักพัฒนา นักวิทยาศาสตร์ข้อมูล และวิศวกร AI ทั่วโลกเลือกใช้!
        ไม่ว่าคุณจะเป็นมือใหม่ที่อยากเริ่มต้นเขียนโค้ด 
        หรือนักพัฒนาที่ต้องการต่อยอดทักษะ Python คือกุญแจสู่โอกาสมากมาย 
        ทั้งด้านเว็บแอปพลิเคชัน การวิเคราะห์ข้อมูล แมชชีนเลิร์นนิง และระบบอัตโนมัติ
    </p>
    <p>
        ทำไมต้อง Python? เพราะ Python เรียนรู้ง่าย โค้ดกระชับ และทรงพลัง! 
        คุณสามารถสร้างทุกอย่างได้จากไม่กี่บรรทัดโค้ด 
        ไม่ว่าจะเป็นเว็บไซต์ เกม โปรแกรมวิเคราะห์ข้อมูล หรือแม้แต่โมเดล AI ที่ซับซ้อน 
        องค์กรระดับโลก เช่น Google, Facebook และ NASA ต่างใช้ Python เป็นเครื่องมือหลัก
    </p>
    <p>
        เราออกแบบหลักสูตร ในระดับพื้นฐาน
        พร้อมตัวอย่างและแบบฝึกหัดที่ช่วยให้คุณเรียนรู้ได้อย่างเป็นระบบ 
        ต่อให้คุณจะไม่มีพื้นฐานเลย ที่นี่คุณจะได้สัมผัสกับการเรียนรู้ที่เข้าใจง่าย สนุก และสามารถนำไปใช้งานได้จริง
    </p>
    <p>
        อย่าปล่อยให้ Python เป็นเพียงแค่ชื่อที่คุณเคยได้ยิน! 
        มาร่วมเรียนรู้กับเราวันนี้ แล้วค้นพบว่าการเขียนโปรแกรมสามารถเปลี่ยนอนาคตของคุณได้ 
        เริ่มต้นเส้นทางการเขียนโค้ดของคุณเลยตอนนี้!
    </p>
    start learning
</body>
</html>