<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">🐍</div>
        <div>
            <a href="#">หน้าแรก</a>
            <a href="#">บทเรียน</a>
            <a href="#">เข้าสู่ระบบ</a>
            <a href="#">สมัครสมาชิก</a>
        </div>
    </div>

    <h1>Welcome to Esey Code</h1>
    <p>เว็ปไซต์สำหรับผู้เริ่มต้นในการเขียนโปรแกรม</p>
    <p>สอนในระดับพื้นฐานเท่านั้น</p>
    <p>Python</p>

    <h1>Appleh </h1>
    <h1>Appleh </h1>
    <h1>Appleh </h1>
    <h1>Appleh </h1>
    <h1>Appleh </h1>
    <h1>Appleh </h1>
    <h1>Appleh </h1>
    <h1>Appleh </h1>
    <h1>Appleh </h1>
    <h1>Appleh </h1>
</body>
</html>